.movie-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
}

#user-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}